 <ion-modal-view>
   <ion-header-bar  class="bar-positive">
        <h1 class="title">{{'ADD_BUTTON.TITLE' | translate}}</h1>
    </ion-header-bar>
    <ion-content >
       <form class="validate-form" name="form" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_BUTTON.TEXT' | translate}}</span>
                    <input required ng-change="onTextButtonChange(text)" name="text" type="text" ng-model="text" >
                    <i ng-class="{'valitade-icon': form.text.$invalid && form.text.$dirty  }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_BUTTON.BUTTON_TEXT' | translate}}</span>
                    <input type="text"  ng-model="buttonText">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_BUTTON.TOPIC' | translate}}</span>
                    <input   required type="text" name="topic"  ng-model="topic"  remove-space />
                     <i ng-class="{'valitade-icon': form.topic.$invalid && form.topic.$dirty }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_BUTTON.MSG_ON' | translate}}</span>
                    <input required type="text" name="msgOn"  ng-model="msgOn" >
                     <i ng-class="{'valitade-icon': form.msgOn.$invalid && form.msgOn.$dirty }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_BUTTON.MSG_OFF' | translate}}</span>
                    <input required type="text" name="msgOff"  ng-model="msgOff" >
                     <i ng-class="{'valitade-icon': form.msgOff.$invalid && form.msgOff.$dirty }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>

            </div>
            <div class="padding">
                <button ng-disabled="form.text.$invalid || form.topic.$invalid ||
                    form.msgOn.$invalid || form.msgOff.$invalid" 
                    ng-click="saveButton(text,buttonText,topic,msgOn,msgOff)" class="button button-block button-positive">
                    {{ 'SAVE' | translate }}
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
