 <ion-modal-view>
   <ion-header-bar  class="bar-positive">
        <h1 class="title">{{'ADD_TOGGLE.TITLE' | translate}}</h1>
    </ion-header-bar>
    <ion-content >
       <form class="validate-form" name="form" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_TOGGLE.TEXT' | translate}}</span>
                    <input required ng-change="onTextButtonChange(text)" type="text" ng-model="text" name="text">
                     <i ng-class="{'valitade-icon': form.text.$invalid && form.text.$dirty  }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_TOGGLE.TOPIC' | translate}}</span>
                    <input required remove-space type="text" ng-model="topic"  name="topic">
                     <i ng-class="{'valitade-icon': form.topic.$invalid && form.topic.$dirty  }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_TOGGLE.MSG_ON' | translate}}</span>
                    <input required type="text" ng-model="msgOn" value="on" name="msgOn">
                     <i ng-class="{'valitade-icon': form.msgOn.$invalid && form.msgOn.$dirty  }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{'ADD_TOGGLE.MSG_OFF' | translate}}</span>
                    <input required type="text" ng-model="msgOff" value="off" name="msgOff">
                     <i ng-class="{'valitade-icon': form.msgOff.$invalid && form.msgOff.$dirty  }" style="display:none;" class ="icon ion-alert-circled"></i>
                </label>

            </div>
            <div class="padding">
                <button  ng-disabled="form.text.$invalid || form.topic.$invalid ||
                    form.msgOn.$invalid || form.msgOff.$invalid" 
                     ng-click="saveToggle(text,topic,msgOn,msgOff)" class="button button-block button-positive">
                    {{ 'SAVE' | translate }}
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
